.dropdownContainer {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 30px;
  right: 0;
  width: max-content;
}

.menu {
  width: auto;
  min-width: 100px;
  font-size: 14px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.item {
  padding: 12px 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #eee;
  }
}
