.mainTitle {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  /* background-image: linear-gradient(to top, #8edccd 8%, #d5eadb 45%);
  background: #8edccd; */
  z-index: 7;
}

.titleAni {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* background: #d5eadb; */
  transition: 0.5s ease-in-out;
}

.backLight01 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.08;
}

.backLight02 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.05;
}

.river {
  position: absolute;
  bottom: 0;
  left: 18%;
  width: 68%;
  height: auto;
  z-index: 5;
}

.moon {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.moon img {
  display: flex;
  align-items: center;
  width: 40%;
  height: 40%;
}

.moutainBack01 {
  position: absolute;
  display: block;
  bottom: -4px;
  right: 0;
  width: auto;
  height: auto;
  margin: 0 auto;
  z-index: 6;
}

.moutainBack02 {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: auto;
  fill: #134248;
  margin: 0 auto;
  z-index: 4;
}

.moutainFront01 {
  position: absolute;
  display: block;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 2;
}

.moutainBlack {
  position: absolute;
  bottom: -97%;
  left: 0;
  width: 100%;
  height: 175vh;
  fill: #00181c;
  z-index: 10;
}

.bgStar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: url(../../assets/images/star.png) repeat-x center top;
  background-size: contain;
  z-index: 2;
}

.bgTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/bg_top.png) no-repeat center top;
  background-size: cover;
}
